<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <header>
            <%- include("./partials/navbar") %>
        </header>

        <main class="container mt-2">
            <div class="row">
                <div class="col-6">
                    <img src="<%= user.image %>" 
                         alt="Foto de perfil del usuario"
                         class="img-fluid">
                </div>
                <div class="col-6">
                    <% if (error) { %>
                        <div class="container">
                            <ul class="alert alert-danger">
                                <% errors.forEach(error => { %>
                                    <li class="p-2">
                                        <%= error.msg %>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    <% } %>
                    <form action="/admin/edit/<%= user.id %>" 
                          method="post"
                          enctype="multipart/form-data">

                        <!-- Nombre -->
                        <div class="form-group">
                            <label for="nombreUsuario"
                                   class="form-label">Nombre:</label>
                            <input id="nombreUsuario"
                                   class="form-control"
                                   type="text" 
                                   name="nombre" 
                                   value="<%= user.name %>">
                        </div>
                        
                        <!-- Edad -->
                        <div class="form-group mt-3">
                            <label for="edadUsuario"
                                   class="form-label">Edad:</label>
                            <input id="edadUsuario"
                                   class="form-control"
                                   type="number" 
                                   name="edad" 
                                   value="<%= user.age %>"
                                   required>
                        </div>

                        <!-- Email -->
                        <div class="form-group mt-3">
                            <label for="emailUsuario"
                                   class="form-label">Email:</label>
                            <input id="emailUsuario"
                                   class="form-control"
                                   type="email" 
                                   name="email" 
                                   value="<%= user.email %>"
                                   required>
                        </div>

                        <!-- Telefono -->
                        <div class="form-group mt-3">
                            <label for="telefonoUsuario"
                                   class="form-label">Teléfono:</label>
                            <input id="telefonoUsuario"
                                   class="form-control"
                                   type="tel" 
                                   name="telefono" 
                                   value="<%= user.phone %>"
                                   required>
                        </div>

                        <!-- Ciudad -->
                        <div class="form-group mt-3">
                            <label for="ciudadUsuario"
                                   class="form-label">Ciudad:</label>
                            <input id="ciudadUsuario"
                                   class="form-control"
                                   type="text" 
                                   name="ciudad" 
                                   value="<%= user.location %>">
                        </div>

                        <!-- Imagen -->
                        <div class="form-group mt-3 d-flex justify-content-between align-items-center gap-5">
                                <div class="col-6">
                                    <label for="imagenUsuario"
                                           class="form-label">Imagen:</label>
                                    <input id="imagenUsuario"
                                           class="form-control"
                                           type="file"
                                           name="imagen"
                                           accept=".png, .jpg, .jpeg"
                                           value="<%= user.image %>"
                                           required>
                                </div>
                                <div class="col-6">
                                    <figure style="width: 100px;">
                                        <img id="imagenSeleccionada" 
                                             src="<%= user.image %>" 
                                             alt=""
                                             style="width: 100%;">
                                    </figure>
                                </div>
                        </div>

                        <button type="submit" 
                                class="btn btn-primary mt-3">
                                Actualizar
                        </button>
                    </form>
                </div>
            </div>
        </main>
        <%- include("./partials/bootstrap") %>
        <script type="module">
            import changeImage from "/js/inputFile.mjs";
            window.onload = () => {
                changeImage();
            }
        </script>
    </body>
</html>
