<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <header>
            <%- include("./partials/navbar") %>
        </header>
        <main>
            <h1 class="text-center my-3"><%= title %></h1>
            <div class="container">
                <div class="row g-2">
                    <% users.forEach(user => { %>
                        <div class="col-3">
                            <div class="card">
                                <!-- Imagen de la tarjeta -->
                                <img src="<%= user.image %>" 
                                    class="card-img-top" alt="...">
                                <!-- Cuerpo de la tarjeta -->
                                <div class="card-body">
                                    <!-- Título de la tarjeta -->
                                    <h3 class="card-title"><%= user.name %></h3>
                                    <!-- Texto de la tarjeta -->
                                    <p class="card-text">Edad: <%= user.age %></p>
                                    <!-- Botón de la tarjeta -->
                                    <a href="/users/<%= user.id %>" class="btn btn-primary">Ver</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </main>

        <%# Bootstrap %>
        <%- include("./partials/bootstrap") %>
    </body>
</html>
